using Avalonia.Headless.NUnit;
using Avalonia.HeadlessTestKit;
using NUnit.Framework;

namespace {Namespace};

public partial class {ClassName}
{
    [AvaloniaTest]
    public void {TestMethod}()
    {
        // Initialize window with DataContext
{WindowInit}
        
        var ui = new Ui(window);
        
{Steps}
    }
}